@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

body {
  background-color: #fff;
  font-family: "Poppins", sans-serif;
}
#auth {
  height: 100vh;
  overflow-x: hidden;
}

#auth #auth-left {
  background: rgb(0, 81, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 81, 0, 1) 0%,
    rgba(12, 192, 10, 1) 100%
  );
  height: 100%;
}

#auth #auth-right {
  padding: 5rem 8rem;
}

#auth #auth-right .auth-title {
  font-size: 2rem;
  font-weight: 500;
  color: #005100;
}

#auth #auth-right .auth-subtitle {
  font-size: 1rem;
  color: #a9a9a9;
}

.form-check a {
  text-decoration: none;
  color: #00509a;
  font-weight: 500;
}

.btn-green {
  color: #fff;
  background-color: #0cc00a;
  border-color: #0cc00a;
  padding: 0.5rem;
}
.btn-green:hover {
  color: #fff;
  background-color: #005100;
  border-color: #005100;
  padding: 0.5rem;
}

.btn-orange {
  color: #fff;
  background-color: #f96734;
  border-color: #f96734;
  padding: 0.5rem;
}

.btn-orange:hover {
  color: #fff;
  background-color: #bb4115;
  border-color: #bb4115;
  padding: 0.5rem;
}

.form-control {
  background-color: #f4f4f4 !important;
  font-size: 14px;
  padding: 10px;
  outline: none;
}

#auth-left img {
  height: 23rem;
}

@media screen and (max-width: 767px) {
  #auth #auth-right {
    padding: 5rem;
  }
  #auth #auth-left {
    padding: 5rem;
  }
  #auth-left img {
    height: 15rem;
    padding: 3rem;
  }
  .auth-logo img {
    height: 2rem;
    padding: 0.2rem;
  }
}

@media screen and (max-width: 576px) {
  #auth #auth-right {
    padding: 5rem 3rem;
  }
  #auth #auth-left {
    padding: 5rem 3rem;
  }

  #auth-left img {
    height: 15rem;
    padding: 3rem;
  }

  .auth-logo img {
    height: 2rem;
    padding: 0.2rem;
  }
}
